@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root {
    --main-color: #e84242;
    --black-color: #0e0e0e;
    --border: 0.1rem solid rgba(255, 255, 255, 0.4);
}

/* Ekran boyutu 768px ve altı için ayarları yapar */
@media (max-width: 768px) {
    .header {
        padding: 0 2%;
        margin: 1rem 2%;
        border-radius: 15px;
    }

    .header .logo {
        margin-left: 0;
    }

    .header .logo img {
        height: 2rem;
    }

    .header .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .header .navbar a {
        padding: 10px 5px;
    }

    .header .buttons {
        flex-direction: column;
        align-items: flex-start;
    }

    .header .buttons .auth-buttons {
        flex-direction: column;
        gap: 0.5rem;
    }

    .header .profile-btn {
        width: 35px;
        height: 35px;
        font-size: 20px;
    }
}

/* Ekran boyutu 480px ve altı için ayarları yapar */
@media (max-width: 480px) {
    .header {
        padding: 0 1%;
        margin: 0.5rem 1%;
        border-radius: 10px;
    }

    .header .logo img {
        height: 1.5rem;
    }

    .header .navbar a {
        padding: 8px 4px;
        font-size: 14px;
    }

    .header .profile-btn {
        width: 30px;
        height: 30px;
        font-size: 18px;
    }

    .profile-menu {
        width: 200px;
        top: 50px;
    }
}

/* Firefox */
html {
    scrollbar-width: thin;
    /* Veya auto */
    scrollbar-color: #333 white;

    scroll-padding-top: 60px;
    /* Buradaki değeri navbar yüksekliğine göre ayarlayın */
    overflow-x: hidden;

}

/* Profil menüsü tasarımı */
.profile-menu {
    display: none;
    position: absolute;
    right: 10px;
    top: 60px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    height: auto;
    width: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.profile-menu .profile-info h3 {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

.profile-menu .profile-info p {
    margin-top: 1px;
    margin-bottom: 0px;
}

.user-type {
    color: #7c7c7c;
    /* İstediğiniz renk */
    font-size: 12px;
}

/* Küçük logout butonu stili */
.profile-menu .logout-btn,
.account-settings-link {
    background-color: #747474;
    cursor: pointer;
    color: #ffffff;
    border: 2px solid #000000;
    border-radius: 4px;
    text-align: end;
    padding: 1px 1px;
    /* Padding ekleyerek butonları ve linkleri hizalayabilirsiniz */
    font-size: 14px;
    margin-inline-end: 3px;
    margin-top: 0;
    margin-bottom: 0px;
    transition: background-color 0.3s, color 0.3s;
    padding: 0px 10px;
}

.profile-menu .logout-btn:hover,
.account-settings-link:hover {
    background-color: #363636;
    color: white;
}

/* Profil düğmesi tasarımı */
.header .profile-btn {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    /* Boyut ayarları */
    width: 40px;
    /* Butonun genişliği */
    height: 40px;
    /* Butonun yüksekliği */
    padding: 0;
    /* İç boşlukları sıfırla */
    font-size: 24px;
    /* Simge boyutu */
    border-radius: 50%;
    /* Yuvarlak buton */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Profil butonunu ortalamak için */
    margin-right: 40px;
}

.header .profile-btn i {
    /* Profil simgesinin boyutunu da ayarlayabilirsiniz */
    font-size: 24px;
    /* Simgenin boyutu */
}

/* Genel stil ayarları */
* {
    font-family: "Poppins", sans-serif;
    outline: none;
    border: none;
}

body {
    background-color: var(--main-color);
    height: 200vh;
}

/* Header stil ayarları */
.header {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    margin: -1rem -1rem;
    box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 70px;
    /* Ensures consistent height */
}

.header .logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
    /* Adjust as needed to horizontally center */
}

.header .logo img {
    height: 3rem;
    border-radius: 3px;
}

.header .navbar {
    scroll-margin-top: 60px;
    /* Section başlıkları için 60px boşluk */
    display: flex;
    align-items: center;
    flex-grow: 1;
    position: sticky;
    top: 0;
    justify-content: center;
    /* Centers the navbar between the logo and buttons */
}

.header .navbar a {
    position: relative;
    /* Çizginin konumlandırılması için gerekli */
    color: #333;
    padding: 10px 15px;
    background-color: #ffffff;
    font-size: 15px;
    text-decoration: none;
    overflow: hidden;
    /* Çizgi dışarı taşmaması için */
}

.header .navbar a:nth-child(1) {
    top: 0;
    /* Üstten mesafe */
    left: -180px;
    /* Soldan mesafe */
}

.header .navbar a:nth-child(2) {
    top: 0;
    left: -120px;
    /* 120px soldan mesafe */
}

.header .navbar a:nth-child(3) {
    top: 0;
    left: -60px;
    /* 240px soldan mesafe */
}

.header .navbar a:nth-child(4) {
    top: 0;
    left: 0px;
    /* 360px soldan mesafe */
}


.header .navbar a::after {
    content: '';
    /* Boş içerik eklenir */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #e84242;
    /* Kırmızı renk */
    transform: translateX(-100%);
    /* Başlangıçta gizle */
    transition: transform 0.3s ease-in-out;
    /* Geçiş efekti */
}

.header .navbar a:hover::after,
.header .navbar a.active::after {
    transform: translateX(0);
    /* Mouse ile gelince göster */
}

.header .buttons {
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

.header .buttons .auth-buttons {
    background: none;
    border: none;
    cursor: pointer;
    /* Boyut ayarları */
    width: 100%;
    /* Butonun genişliği */
    height: 40px;
    /* Butonun yüksekliği */
    padding: 0;
    /* İç boşlukları sıfırla */
    font-size: 24px;
    /* Simge boyutu */
    border-radius: 30px;
    /* Yuvarlak buton */
    justify-content: center;
    /* Profil butonunu ortalamak için */
    gap: 3px;
}

.header .buttons .auth-buttons button {
    background-color: #6e6e6e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.header .buttons .auth-buttons button:hover {
    background-color: #313131;
}

.login-panel {
    display: none;
    /* Başlangıçta gizli */
    position: fixed;
    top: 33%;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 300px;
}

.login-panel input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.login-panel button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #e84242;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 3s;
}

.login-panel button:hover {
    background-color: #c73131;
}

.register-panel {
    display: none;
    /* Başlangıçta gizli */
    position: fixed;
    top: 46%;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 300px;
}

.register-panel input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.register-panel button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #e84242;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 3s;
}

.register-panel button:hover {
    background-color: #c73131;
}

.sidebar {
    width: 250px;
    /* İstediğiniz genişlik */
    background-color: var(--main-color);
    padding: 20px;
    height: calc(100vh - 70px);
    /* Header yüksekliği kadar boşluk */
    overflow-y: auto;
    position: fixed;
    /* Sabit konum */
    margin: 40px 100px;
    /* Navbar yüksekliği kadar boşluk */
    left: 0;
    z-index: 999;
}

.sidebar h2 {
    margin-top: 0;
    font-size: 24px;
    color: rgb(21, 21, 21);
}

.sidebar-sections {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-section {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.search-box {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

/* İçerik stil ayarları */
.content {
    margin-left: 270px;
    /* Sidebar genişliği + padding */
    padding: 20px;
}

.activity-section {
    margin-top: 70px;
    margin-left: 420px;
    margin-right: 20px;
    background-color: var(--main-color);
}

/* Container for activity blocks */
.activity-blocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--main-color);
}

/* Individual activity block styling */
.activity-block {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 90%;
    height: 120px;
    max-height: 120px;
    border: 2px solid #e84242;
    /* Border to look like a button */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    /* Smooth transition for hover effect */
    margin-top: 20px;
}

.activity-block:hover {
    background-color: #8d8d8d;
    /* Change color on hover */
    transform: scale(1.05);
    /* Slightly enlarge on hover */
}

.activity-block h3 {
    margin-top: 0;
    font-size: 18px;
}

.activity-block p {
    color: #666;
}

/* Styling for the add activity button */
.add-activity-btn {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    width: 90%;
    min-height: 120px;
    display: block;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
}

.add-activity-btn:hover {
    background-color: #d33b3b;
    transform: scale(1.05);
    /* Darker green on hover */
}

.custom-img {
    background-color: #06616d;
    /* Background color for the image */
    width: 4%;
    /* Set the width */
    height: 4%;
    /* Set the height */
    padding: 5px;
    /* Optional padding around the image */
    border-radius: 5px;
    /* Optional: Make the corners rounded */
}

/* Modal styling */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
    position: relative;
    /* Position relative for absolute positioning of close button */
}

/* Close Button */
.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    /* Position absolutely within the modal-content */
    top: 10px;
    /* Adjust top distance as needed */
    right: 10px;
    /* Adjust right distance as needed */
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
}

#activityForm {
    display: flex;
    flex-direction: column;
}

#activityForm label {
    margin-top: 10px;
}

#activityForm input,
#activityForm textarea {
    margin-top: 5px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#activityForm button {
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#activityForm button:hover {
    background-color: #0056b3;
}

.buttons-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 5px;
}

.delete-btn,
.edit-btn {

    background-color: #f44336;
    /* Red color for delete button */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}


.delete-btn:hover,
.edit-btn:hover {
    opacity: 0.8;
}

.main-block {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-page-block {
    padding: 40px;
    border-radius: 4px;
    margin-top: 80px;
    width: 90%;
    height: auto;
    background-color: white;
    /* Blok arka plan rengi */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    overflow-y: auto;
    /* İçerik taşarsa kaydırma çubuğu */
}

.competition-container {
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.competition-details {
    display: flex;
    align-items: center;
}

.competition-image {
    width: 150px;
    height: 150px;
    background-color: grey;
    /* Resim için arka plan rengi */
    border-radius: 5px;
    margin-top: -10px;
    margin-right: 10px;
}

.competition-info {
    display: flex;
    flex-direction: column;
}

.competition-name {
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.competition-dates {
    font-size: 16px;
    color: red;
    margin-top: 70px;
}

.competition-actions {
    display: flex;
    gap: 10px;
    /* Butonlar arası boşluk */
}

.add-project-btn,
.copy-link-btn {
    padding: 10px 20px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    font-weight: bold;
}

.copy-link-btn {
    color: blue;
}

.katılımcılar {
    padding: 20px;
}

.search-filter-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-box {
    padding: 10px;
    flex: 1;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filter-btn {
    padding: 10px 20px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    font-weight: bold;
}

.project-row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.project-box {
    flex: 1;
    /* Allow each box to take up equal space */
    background: #007bff;
    /* Blue background */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 20px;
    margin: 0 5px;
    /* Space between boxes */
    text-align: center;
    font-size: 16px;
    transition: background 0.3s ease;
    cursor: pointer;
}

.project-box h3 {
    margin-top: 0;
    font-size: 18px;
}

.project-box p {
    margin-bottom: 0;
    font-size: 14px;
}

.project-box:hover {
    background: #0056b3;
    /* Darker blue on hover */
}

.project-box:focus {
    outline: none;
    /* Remove default outline */
}

.project-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    /* Başlangıçta gizle */
    align-items: center;
    justify-content: center;
    overflow: auto;
    z-index: 1000;
}

.panel-content {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    position: relative;
    width: 90%;
    height: 90%;
    overflow: auto;
    z-index: 1001;
}

.close-btn {
    position: absolute;
    top: 30px;
    right: 80px;
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
    color: #000;
    z-index: 1002;
}

.close-btn:hover {
    color: #f00;
    /* Hover rengini değiştir */
}

.rating-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.rating-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating-column input[type="radio"] {
    display: none;
}

.rating-column label {
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

#submitRating {
    margin-top: 20px;
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submitRating:hover {
    background: #0056b3;
}

.project-box-empty {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    width: 50%;
    visibility: hidden;
}

.project-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    width: 50%;
}

.project-name {
    flex: 1;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
}

.delete-project {
    background-color: #ff4d4d;
    border: none;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

.delete-project:hover {
    background-color: #e60000;
}

/* Modal için genel stil */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    z-index: 1000;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
    z-index: 1001;
}

/* Close Button */
.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    z-index: 1002;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.likert-scale {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.likert-scale h2 {
    text-align: center;
}

.scale-item {
    display: inline-block;
    margin: 0 10px;
}

.scale-item input {
    display: none;
}

.scale-item label {
    font-size: 18px;
    cursor: pointer;
}

.scale-item input:checked + label {
    color: #007bff;
}

.likert-scale button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.likert-scale button:hover {
    background-color: #0056b3;
}

