@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#notification {
  display: none;
  position: fixed;
  z-index: 3000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#activityForm {
  display: flex;
  flex-direction: column;
}

#activityForm label {
  margin-top: 10px;
}

#activityForm input,
#activityForm textarea {
  margin-top: 5px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#activityForm button {
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#activityForm button:hover {
  background-color: #0056b3;
}

input[type="text"],
textarea,
select,
input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;

  box-sizing: border-box;

  margin-bottom: 10px;
}

#observerMode {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #28a745;

  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin: 5px;
}

#observerMode:hover {
  background-color: #218838;

  transform: scale(1.05);
}

#observerMode.admin {
  background-color: #dc3545;
}

#observerMode.admin:hover {
  background-color: #c82333;
}

:root {
  --main-color: #e84242;
  --black-color: #0e0e0e;
  --border: 0.1rem solid rgba(255, 255, 255, 0.4);
}

html {
  scrollbar-width: thin;

  scrollbar-color: #333 white;

  scroll-padding-top: 60px;

  overflow-x: hidden;
}
* {
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
  height: auto;
}
#submitRating {
  margin-top: 20px;
  padding: 10px 20px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#submitRating:hover {
  background: #0056b3;
}

body {
  background-color: var(--main-color);
}

#button {
  padding: 2px 5px;

  font-size: 0.8em;

  border: none;
  cursor: pointer;
  border-radius: 3px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

#form-container {
  margin-bottom: 20px;
}

#form-container input,
#form-container button {
  margin-bottom: 10px;
  display: block;
  width: 100%;
}
.activity-block h3 {
  margin-top: 0;
  font-size: 18px;
}
.activity-block p {
  color: #666;
}
.activity-block {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 90%;
  height: 120px;
  max-height: 120px;
  border: 2px solid #e84242;

  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;

  margin-top: 20px;
}
.activity-block:hover {
  background-color: #8d8d8d;

  transform: scale(1.05);
}
.activity-blocks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--main-color);
}
.activity-section {
  margin-top: 70px;
  margin-left: 420px;
  margin-right: 20px;
  background-color: var(--main-color);
}
.add-activity-btn {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  width: 95%;
  min-height: 120px;
  display: block;
  text-align: center;
  transition: background-color 0.3s, transform 0.3s;
}
.add-activity-btn:hover {
  background-color: #d33b3b;
  transform: scale(1.01);
}
.add-project-btn {
  background-color: rgba(68, 68, 68, 0.2);
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  justify-content: center;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.add-project-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.addRowBtn {
  cursor: pointer;
  padding: 3px;
  color: white;
  border-radius: 3px;
  background-color: #007bff;
}
.addRowBtn:hover {
  background-color: #0056b3;

  transform: scale(1.05);
}
.addTitleBtn {
  cursor: pointer;
  padding: 3px;
  color: white;
  border-radius: 3px;
  background-color: #007bff;
}
.addTitleBtn:hover {
  background-color: #0056b3;

  transform: scale(1.05);
}
.button-container {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}
.close {
  background-color: white;
  border: none;
  color: #aaa;
  float: right;
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
}
.close-btn {
  position: absolute;
  top: 30px;
  right: 80px;
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
  color: #000;
  z-index: 1002;
}
.close:hover{
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  z-index: 1002;
}
.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.competition-actions {
  float: right;

  margin-left: auto;
}
.competition-container {
  color: #000000;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.competition-dates {
  font-size: 16px;
  color: red;
  margin-top: 70px;
}
.competition-details {
  display: flex;
  height: 170px;
}
.competition-image {
  width: 150px;
  height: 150px;
  background-color: grey;

  border-radius: 5px;
  margin-top: -10px;
  margin-right: 10px;
}
.competition-info {
  display: flex;
  flex-direction: column;
}
.competition-name {
  align-items: center;
  display: flex;
  font-size: 30px;
  font-weight: bold;
  color: black;
}
.container {
  max-width: 600px;
  margin: auto;
}
.content .title {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
  padding: 10px;
  line-height: 1.5;
}
.content {
  padding: 20px;
}
.content-block p {
  margin: 0;
}
.content-block {
  margin-bottom: -5px;
}
.content-block {
  margin-right: 30%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 1em;
}
.copy-link-btn {
  background-color: #034182;
  width: 128px;
  margin-bottom: 10px;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.copy-link-btn:hover {
  background-color: #0056b3;
}
.copy-success-icon {
  display: none;

  color: white;
  font-size: 16px;

  margin-left: 10px;
}
.criteria {
  margin-bottom: 10px;
  position: relative;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.criteria-label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}
.custom-img {
  background-color: #06616d;

  width: 4%;

  height: 4%;

  padding: 5px;

  border-radius: 5px;
}
.delete-btn {
  border-radius: 3px;
  margin-left: 10px;
  background-color: #f44336;
  color: white;
  cursor: pointer;
}
.delete-btn:hover,
.edit-btn:hover {
  opacity: 0.8;
}
.delete-project {
  background-color: #ff4d4d;
  border: none;
  padding: 5px 10px;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}
.delete-project:hover {
  background-color: #e60000;
}
.edit-btn {
  border-radius: 3px;
  margin-left: 10px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}
.edit-delete-buttons button {
  margin-left: 5px;
}
.edit-delete-buttons {
  position: absolute;
  right: 10px;
  top: 10px;
}
.editing {
  border: 2px solid #4caf50;
}
.editmodal-content{
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  position: relative;
}
.filter-btn {
  padding: 10px 20px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
}
.form-container {
  display: none;

  position: fixed;

  z-index: 1003;

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

  background-color: rgba(0, 0, 0, 0.4);
}
.form-container-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.form-group {
  margin-bottom: 15px;
}
.full-page-block {
  overflow-x: hidden;
  padding: 40px;
  border-radius: 4px;
  margin-top: 80px;
  margin-bottom: 40px;
  width: 90%;
  height: auto;
  background-color: white;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  overflow-y: auto;
}
.generated-table th {
  background-color: #f2f2f2;
  text-align: left;
}
.generated-table th,
.generated-table td {
  border: 1px solid #ddd;
  padding: 8px;
}
.generated-table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}
.header .buttons .auth-buttons button {
  background-color: #6e6e6e;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}
.header .buttons .auth-buttons button:hover {
  background-color: #313131;
}
.header .buttons .auth-buttons {
  background: none;
  border: none;
  cursor: pointer;

  width: 100%;

  height: 40px;

  padding: 0;

  font-size: 24px;

  border-radius: 30px;

  justify-content: center;

  gap: 3px;
}
.header .buttons {
  background-color: #ffffff;
  display: flex;
  align-items: center;
}
.header .logo img {
  height: 3rem;
  border-radius: 3px;
}
.header .logo {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.header .navbar a {
  position: relative;

  color: #333;
  padding: 10px 15px;
  background-color: #ffffff;
  font-size: 15px;
  text-decoration: none;
  overflow: hidden;
}
.header .navbar a::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #e84242;

  transform: translateX(-100%);

  transition: transform 0.3s ease-in-out;
}
.header .navbar a:hover::after,
.header .navbar a.active::after {
  transform: translateX(0);
}
.header .navbar a:nth-child(1) {
  top: 0;

  left: -180px;
}
.header .navbar a:nth-child(2) {
  top: 0;
  left: -120px;
}
.header .navbar a:nth-child(3) {
  top: 0;
  left: -60px;
}
.header .navbar a:nth-child(4) {
  top: 0;
  left: 0px;
}
.header .navbar {
  scroll-margin-top: 60px;

  display: flex;
  align-items: center;
  flex-grow: 1;
  position: sticky;
  top: 0;
  justify-content: center;
}
.header .profile-btn i {
  font-size: 24px;
}
.header .profile-btn {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;

  width: 40px;

  height: 40px;

  padding: 0;

  font-size: 24px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 40px;
}
.header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7%;
  margin: -1rem -1rem;
  box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 70px;
}
#qrcode{
  float: right;
}
.hidden {
  display: none;
}

.katılımcılar {
  padding: 20px;
}
.likert-scale button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.likert-scale button:hover {
  background-color: #0056b3;
}
.likert-scale h2 {
  text-align: center;
}
.likert-scale input[type="radio"] {
  display: none;
}
.likert-scale input[type="radio"]:checked + label {
  background-color: #4caf50;
  color: white;
}
.likert-scale label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  user-select: none;
}
.likert-scale label:hover {
  background-color: #ddd;
}
.likert-scale {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.login-panel button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #e84242;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 3s;
}
.login-panel button:hover {
  background-color: #c73131;
}
.login-panel input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ddd;
}
.login-panel {
  display: none;

  position: fixed;
  top: 33%;
  left: 80%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  z-index: 2000;
  width: 300px;
}
.main-block {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1003;
  background-color: rgba(0, 0, 0, 0.4);
}
.editmodal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;

  padding: 20px;
  border: 1px solid #888;
  width: 80%;

  position: relative;
}
.oylama_belirle{
  border-radius: 5px;
  cursor: pointer;
  max-width: 128px;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
  width: 100%;
}
.oylama_belirle:hover{
  background-color: #3e9141;
}
.panel-content {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  width: 90%;
  height: 90%;
  overflow: auto;
  z-index: 1001;
}
.paragraph {
  font-weight: normal;
  margin-bottom: 10px;
}
.profile-menu .logout-btn,
.account-settings-link {
  background-color: #747474;
  cursor: pointer;
  color: #ffffff;
  border: 2px solid #000000;
  border-radius: 4px;
  text-align: end;
  padding: 1px 1px;
  font-size: 14px;
  margin-inline-end: 3px;
  margin-top: 0;
  margin-bottom: 0px;
  transition: background-color 0.3s, color 0.3s;
  padding: 0px 10px;
}
.profile-menu .logout-btn:hover,
.account-settings-link:hover {
  background-color: #363636;
  color: white;
}
.profile-menu .profile-info h3 {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}
.profile-menu .profile-info p {
  margin-top: 1px;
  margin-bottom: 0px;
}
.profile-menu {
  display: none;
  position: absolute;
  right: 10px;
  top: 60px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  height: auto;
  width: auto;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  z-index: 2000;
}
.project-block .buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.project-block .delete-btn,
.project-block .edit-btn {
  background-color: #f44336;

  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  transition: all 0.3s ease;
}
.project-block .delete-btn:hover,
.project-block .edit-btn:hover {
  transform: scale(1.1);

  cursor: pointer;
}
.project-block .edit-btn {
  background-color: #4caf50;
}
.project-block {
  position: relative;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.project-block:hover {
  transform: scale(1.05);
}
.project-blocks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 10px;
}

.project-modal .modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.project-modal {
  display: none;

  position: fixed;

  z-index: 1003;

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

  background-color: rgba(0, 0, 0, 0.4);
}
.project-name {
  flex: 1;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
}
.project-panel {
  scrollbar-width: thin;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;

  align-items: center;
  justify-content: center;
  overflow: auto;
  z-index: 1000;
}
.project-row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.project-section .button-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 10px;

  width: 100%;
}
.project-section .buttons-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.project-section .close-btn {
  margin-right: -40px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  transition: color 0.3s ease;
}
.project-section .close-btn:hover,
.project-section .close-btn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.project-section .delete-btn {
  background-color: #dc3545;
  color: white;
}
.project-section .delete-btn:hover {
  background-color: #c82333;
}
.project-section .edit-btn {
  background-color: #007bff;
  color: white;
}
.project-section .edit-btn,
.project-section .show-project-button,
.project-section .vote-button,
.project-section .delete-btn {
  margin-left: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
}
.project-section .edit-btn:hover {
  background-color: #0056b3;
}
.project-section .form-group input,
.project-section .form-group select {
  width: 90%;
  margin-bottom: 20px;
  margin-top: 5px;
  max-width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}
.project-section .form-group input:focus,
.project-section .form-group select:focus {
  border-color: #007bff;
}
.project-section .form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}
.project-section .form-group {
  margin-bottom: 15px;
}
.project-section .modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.project-section .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  animation: slideIn 0.4s ease-out;
}
.project-section .project-block {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.project-section .show-project-button {
  background-color: #2da700;
  color: white;
}
.project-section .show-project-button:hover {
  background-color: #278f02;
}
.project-section .submit-btn {
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.3s ease;
}
.project-section .submit-btn:hover {
  background-color: #0056b3;
}
.project-section .vote-button {
  background-color: #585858;
  color: white;
}
.project-section .vote-button:hover {
  background-color: #373737;
}
.radio-group input[type="radio"] {
  margin: 0 5px;
}
.radio-group {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
}
.rating-column input[type="radio"] {
  display: none;
}
.rating-column label {
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
}
.rating-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rating-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-top: 20px;
}
.register-panel button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #e84242;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 3s;
}
.register-panel button:hover {
  background-color: #c73131;
}
.register-panel input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ddd;
}
.register-panel {
  display: none;

  position: fixed;
  top: 46%;
  left: 80%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  z-index: 2000;
  width: 300px;
}
.save-btn {
  background-color: #2196f3;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}
.scale-item input {
  display: none;
}
.scale-item input:checked + label {
  color: #007bff;
}
.scale-item label {
  font-size: 18px;
  cursor: pointer;
}
.scale-item {
  display: inline-block;
  margin: 0 10px;
}
.search-box {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}
.search-filter-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.show-success-icon {
  display: inline;
}
.sidebar h2 {
  margin-top: 0;
  font-size: 24px;
  color: rgb(21, 21, 21);
}
.sidebar {
  width: 250px;

  background-color: var(--main-color);
  padding: 20px;
  height: calc(100vh - 70px);

  overflow-y: auto;
  position: fixed;

  margin: 40px 100px;

  left: 0;
}
.sidebar-section {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.sidebar-sections {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.submit-btn {
  background-color: #4caf50;

  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 5px;
  cursor: pointer;
}
.submit-btn:hover {
  background-color: #45a049;
}
.title {
  font-weight: bold;

  font-size: 1.5em;

  margin-bottom: 10px;

  margin-top: 40px;
}
.toggle-btn {
  border-radius: 5px;
  cursor: pointer;
  max-width: 128px;
  background-color: #f1dc1f;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
  width: 100%;
}
.toggle-btn:hover {
  background-color: #ccbb1c;
}

.user-type {
  color: #7c7c7c;
  font-size: 12px;
}
.vote-modal .modal-content {
  overflow: auto;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.vote-modal .save-vote-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.vote-modal {
  display: none;

  position: fixed;

  z-index: 1003;

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

  background-color: rgba(0, 0, 0, 0.4);
}
